//* fonts *//
$main-font-family: 'Codec Pro Ultra' ;
$main-font-family-bold: 'Codec Pro Bold';
//* colors *//
// main
$main-dark-txt-color:#1D1D1F;
$main-muted-txt-color:#777777;
// layout
$layout-bg-color:#F5F5F7;
$layout-txt-color:#F5F5F7;
$navbar-txt-color:#424242;
$navbar-active-txt-color:#757575;
$footer-txt-color:#000000;
$footer-muted-color:#8F8F8F;
$linear-gradient-txt-color: linear-gradient(90deg, #6079FF 5%, #5498E8 23%, #37E7AE 62%, #35EBAB 64%, #44C5BC 71%, #6A64E8 87%, #7C38FC 94%);
$link-color:#518FF0;
$cookies-color:#424242;
$paragraph-color:#9F9F9F;
$header-btn-color:#4F4F4F;